/* 
  main property for button
  background-color
  color
  font-size
  font-family
  border-color
  border-width
  border-radius
  box-shadow

  default
  disabled
  :active
  :focus
  :hover

*/

.bsw-button {
  padding: var(--bsw-space-button);
  position: relative;
  font-weight: 400;
  line-height: 1.5715;
  outline: none;
  border: none;
  /* border-style: solid; */
  border-width: var(--bsw-border-width);
  border-radius: var(--bsw-border-radius);

  /* box-shadow: var(--bsw-shadow-button);
  -webkit-box-shadow: var(--bsw-shadow-button); */
  /* text-shadow: 1px 1px rgba(0,0,0,0.1), -1px 1px rgba(0,0,0,0.1), 1px -1px rgba(0,0,0,0.1), -1px -1px rgba(0,0,0,0.1); */
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;

  font-size: .75rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0;
  cursor: pointer;
  transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1);
  will-change: box-shadow,transform;
}


/* Status & Type */
.bsw-button-status-default {
  background-color: var(--bsw-color-primary);
}
.bsw-button-status-default.bsw-button-type-default {
  background-color: var(--bsw-color-primary);
  border-color: var(--bsw-color-primary);
  color: var(--bsw-color-white);
}
.bsw-button-status-default.bsw-button-type-outline {
  background-color: var(--bsw-color-white);
  border-color: var(--bsw-color-primary);
  color: var(--bsw-color-primary);
}
.bsw-button-status-default.bsw-button-type-ghost {
  background-color: transparent;
  border-color: var(--bsw-color-primary);
  color: var(--bsw-color-primary);
}

.bsw-button-status-secondary {
  background-color: var(--bsw-color-lightAccent);
}
.bsw-button-status-secondary.bsw-button-type-default {
  background-color: var(--bsw-color-lightAccent);
  border-color: var(--bsw-color-lightAccent);
  color: var(--bsw-color-white);
}
.bsw-button-status-secondary.bsw-button-type-outline {
  background-color: var(--bsw-color-white);
  border-color: var(--bsw-color-lightAccent);
  color: var(--bsw-color-lightAccent);
}
.bsw-button-status-secondary.bsw-button-type-ghost {
  background-color: transparent;
  border-color: var(--bsw-color-lightAccent);
  color: var(--bsw-color-lightAccent);
}

.bsw-button-status-success {
  background-color: var(--bsw-color-success);
}
.bsw-button-status-success.bsw-button-type-default {
  background-color: var(--bsw-color-success);
  border-color: var(--bsw-color-success);
  color: var(--bsw-color-white);
}
.bsw-button-status-success.bsw-button-type-outline {
  background-color: var(--bsw-color-white);
  border-color: var(--bsw-color-success);
  color: var(--bsw-color-success);
}
.bsw-button-status-success.bsw-button-type-ghost {
  background-color: transparent;
  border-color: var(--bsw-color-success);
  color: var(--bsw-color-success);
}

.bsw-button-status-warning {
  background-color: var(--bsw-color-warning);
}
.bsw-button-status-warning.bsw-button-type-default {
  background-color: var(--bsw-color-warning);
  border-color: var(--bsw-color-warning);
  color: var(--bsw-color-white);
}
.bsw-button-status-warning.bsw-button-type-outline {
  background-color: var(--bsw-color-white);
  border-color: var(--bsw-color-warning);
  color: var(--bsw-color-warning);
}
.bsw-button-status-warning.bsw-button-type-ghost {
  background-color: transparent;
  border-color: var(--bsw-color-warning);
  color: var(--bsw-color-warning);
}

.bsw-button-status-danger {
  background-color: var(--bsw-color-danger);
}
.bsw-button-status-danger.bsw-button-type-default {
  background-color: var(--bsw-color-danger);
  border-color: var(--bsw-color-danger);
  color: var(--bsw-color-white);
}
.bsw-button-status-danger.bsw-button-type-outline {
  background-color: var(--bsw-color-white);
  border-color: var(--bsw-color-danger);
  color: var(--bsw-color-danger);
}
.bsw-button-status-danger.bsw-button-type-ghost {
  background-color: transparent;
  border-color: var(--bsw-color-danger);
  color: var(--bsw-color-danger);
}

/* size */
.bsw-button-size-default {
  font-size: var(--bsw-font-size-default);
}

.bsw-button-size-xs {
  font-size: var(--bsw-font-size-xs);
}

.bsw-button-size-sm {
  font-size: var(--bsw-font-size-sm);
}

.bsw-button-size-lg {
  font-size: var(--bsw-font-size-lg);
}

.bsw-button-size-xl {
  font-size: var(--bsw-font-size-xl);
}


/* Disabled */

