:root {

  /* Color */
  --color-white: #FFFFFF;
  --color-black: #262626; /* 85% of #000000 black */
  --color-grey: #CCCCCC;

  --color-white-opacity: rgba(255,255,255,0.4);
  --color-black-opacity: rgba(0,0,0,0.4);

  --color-dynamic-light: #000000;
  --color-dynamic-dark: #000000;

  --color-lightShades: #F6F6F6; /* Light shades: Use this color as the background for your dark-on-light designs, or the text color of an inverted design. */
  --color-lightAccent: #D2B659; /* Light accent: Accent colors can be used to bring attention to design elements by contrasting with the rest of the palette. */
  --color-primary: #73BCE6; /* Main brand color: This color should be eye-catching but not harsh. It can be liberally applied to your layout as its main identity. */
  --color-darkAccent: #73708C; /* Dark accent: Another accent color to consider. Not all colors have to be used - sometimes a simple color scheme works best. */
  --color-darkShades: #3B73B4; /* Dark shades: Use as the text color for dark-on-light designs, or as the background for inverted designs. */

  --color-color1-plus: #beb3b3; /* Darker color 1*/
  --color-color5-plus: #2f4862; /* Darker color 5*/

  /* color opacity 60% */
  --color-dynamic60: #00000099;

  --color-color160: #f9f8f899;
  --color-color260: #8d8e9999;
  --color-color360: #d2e68499;
  --color-color460: #ae525099;
  --color-color560: #40618499;

  --color-success: green;
  --color-danger: red;
  --color-warning: orange;


  /* Typography */
  --default-size: 1;
  --font-size-default: 1em;
  --font-size-xs: 0.5em;
  --font-size-sm: 0.75em;
  --font-size-lg: 1.25em;
  --font-size-xl: 1.5em;

  --font-family1: 'Montserrat', sans-serif;
  --font-family2: 'Open Sans', sans-serif;
  --font-family3: 'Lobster', cursive;

  /* Sizing and spacing */
  --space-1: 16px;
  --space-button: 0.75em 2em;
  --space-section: 0.75em 2em;

  /* Border */
  --border-radius-topleft: 0.25em;
  --border-radius-topright: 0.25em;
  --border-radius-bottomleft: 0.25em;
  --border-radius-bottomright: 0.25em;
  --border-radius: var(--border-radius-topleft) var(--border-radius-topright) var(--border-radius-bottomright) var(--border-radius-bottomleft);
  --border-width: 0.5px;

  /* shadow */
  /* negative - 0 - positive */
  --shadow-horizontal: 0px; 
  --shadow-vertical: 0px;
  --shadow-spread: 2px;

  /* 0 - positive */
  --shadow-blur: 3px;
  --shadow-opacity: "";
  --shadow-color: rgba(0,0,0,0.4);
  --shadow-button: var(--shadow-horizontal) var(--shadow-vertical) var(--shadow-blur) var(--shadow-spread) var(--shadow-color) 


}

/* Base */
html {
  font-size: var(--font-size-1);
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  overflow-y: auto;
}

html, body, div, #root {
  box-sizing: border-box;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

h1 {
  font-size: 3.3125rem;
  line-height: 1.15em;
}

h2 {
  font-size: 2.25rem;
  line-height: 1.5em;
}

h3 {
  font-size: 1.5625rem;
  line-height: 1.4em;
}

h4 {
  font-size: 1.125rem;
  line-height: 1.5em;
}

h5 {
  font-size: 1.0625rem;
  line-height: 1.55em;
}

h6 {
  font-size: .75rem;
  font-weight: 500;
}