#root {
  width: 100%;
  height: 100%;
}

.box {
  width: 100%;
  height: 100%;
  position: relative;
}

.wrapper {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}

.controller {
  width: 200px;
  height: 100%;
  border: 1px solid black;
}

.container {
  --bsw-spacing-1: 10px;
  --bsw-spacing-2: 20px;
  --bsw-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  flex-grow: 1;
  overflow-y: auto;
  padding: 0 50px;
  background-color: var(--bsw-color-lightShades);
}

.section {
  min-height: 200px;
  margin-top: var(--bsw-spacing-1);
  margin-bottom: var(--bsw-spacing-2);
  font-family: var(--bsw-font-family);
  border-radius: var(--bsw-border-radius);
  padding: var(--bsw-space-section);
  box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.1);
}

.section-header {
  margin-bottom: var(--bsw-spacing-1);
  font-weight: bold;
}

.section-content {
  min-height: 200px;
}

.colorDemoContainer {
  height: 200px;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.colorDemoBox {
  margin: 10px;
  height: 100px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}



.color {
  display: flex;
}
.color > div {
  margin-right: var(--bsw-spacing-2);
}

.colorBox {
  height: 20px;
  width: 70px;
}

.colorName {
  margin-bottom: var(--bsw-spacing-1);
}


.App-button > div {
  display: flex;
  align-items:flex-start;
}

.App-button button {
  margin: 5px 10px
}